.container{
    width: 45%;
    margin: auto;
    border: 1px #342eea59 solid;
    border-radius: 25px;
    box-shadow: 0px 0px 15px -5px #342eea;
    display: flex;
    flex-wrap: nowrap;
    font-family: 'Hanken Grotesk';
}
.overview, .details{
    width:50%;
    padding:1em;
}
.details{
    padding-left:2em;
    padding-right:2em;

}

.overview{
    background-image: linear-gradient(#6541fa, #342eea);
    border-radius: 25px;
}

h2{
    font-size:1.2em;
}

.overview h2{
    font-size: 0.9em;
}

.overview h2{
    color: #e1e1e1;
    text-align: center;
}
.overview h3{
    text-align: center;
    color: white;
    margin: 10px;
}
.overview p{
    font-size: 13px;
}
.percentage-aprt{
    background-image: linear-gradient( #3e39d6, #4638e9);
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 106px;
    text-align: center;
}
.percentage-aprt span:first-child{
display: block;
font-size: 3em;
font-weight: bold;
color: #ececec;
line-height: 1;
padding-top: 13px;
margin: 0;
}

.percentage-aprt span:nth-child(2){
    font-size: 12px;
    margin: 0;
    color: white;
}

p{
    width: 80%;
    font-size: 11px;
    margin: auto;
    text-align: center;
    color: #d3d0ff;
}
.details-list{
    list-style: none;
    padding-left: 0;
    font-size: 12px;
}
.details-list li{
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
button{
    width: 100%;
    font-size: 14px;
    padding: 7px;
    border-radius: 16px;
    border: none;
    color: #d7dcee;
    background: #2f3b59;
}
.detail{
    font-weight: bold;
}
.detail-rate{
    float: right;
}

.detail-rate-value{
    font-weight: bold;
}
.summary-icon{
    height:15px;
    float:left;
    margin-right: 5px;
}
.visual{
    color: #303181;
    background: #30318130 ;
}
.verbal{
    color:#00b18e;
    background:#00b18e30;
}
.memory{
    color: #e3a928;
    background:#e3a92830;
}
.reaction{
    color: #de4954;
    background:#de495430;
}
.valuerel{
    font-weight:normal;
}

.attribution 
{ font-size: 11px; 
  text-align: center;
  margin-top: 10px; 
}

.attribution a 
{ color: hsl(228, 45%, 44%); }

@media screen and (max-width:768px) {
    .container {
        width: 100%;
        display:block;
        border: none;
        border-radius: 0px;
        box-shadow: none;
    }
    body{
        margin:0px;
    }
    .overview, .details{
        width:100%;
        padding:0;
    }
    .overview {
        border-radius: 0px 0px 25px 25px;
        margin-top: -15px;
        padding:10px 0;
    }
    .details{
        padding: 3%;
        width:94%;
    }
}
